.category-list-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    font-family: "Inter", sans-serif;
  
    h3 {
      color: #333;
      text-align: left;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  
    .search-export-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .form-search {
        display: flex;
        align-items: center;
  
        .name {
          margin-right: 10px;
        }
  
        .search-input {
          padding: 8px;
          border: 1px solid #ddd;
          border-radius: 8px;
          font-size: 14px;
          width: 200px;
        }
  
        .button-submit {
          .search-button {
            background-color: #ffffff;
            color: white;
            border: none;
            border-radius: 8px;
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.3s;
  
            &:hover {
              background-color: #ffb065;
            }
  
            .icon-search {
              font-size: 16px;
            }
          }
        }
      }
  
      .add-category-button {
        background-color: white;
        color: #FF9A40;
        border: 1px solid #FF9A40;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        padding: 8px 16px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #FF9A40;
          color: white;
        }
      }
    }
  
    .category-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      border: none;
  
      th, td {
        padding: 14px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
      }
  
      th {
        font-size: 13px;
        background-color: #f4f6f8;
      }
  
      .category-image {
        width: 80px;  /* Set a fixed width */
        height: 80px;  /* Set a fixed height */
        object-fit: cover; /* Ensure image covers the area without distortion */
        border-radius: 8px;
      }
  
      .action-button {
        margin-right: 6px;
        color: #8f8f8f;
        cursor: pointer;
  
        &:hover {
          color: #FF9A40;
        }
      }
  
      .delete-button:hover {
        color: red;
      }
  
      .edit-button:hover {
        color: green;
      }
    }
  
    // Adding orange border and hover effect to the Select component
    .MuiFormControl-root {
      .MuiOutlinedInput-root {
        fieldset {
          border-color: #FF9A40 !important;
        }
  
        &:hover fieldset {
          border-color: #FF9A40 !important;
        }
  
        &.Mui-focused fieldset {
          border-color: #FF9A40 !important;
        }
      }
  
      .MuiSelect-icon {
        color: #FF9A40;
      }
  
      .MuiMenuItem-root {
        &:hover {
          background-color: #FF9A40;
          color: white;
        }
      }
    }
  }
  