.product-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
    .search-export-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .form-search {
        display: flex;
  
        .search-input {
          padding: 10px;
          border-radius: 8px;
          border: 1px solid #ddd;
          width: 250px;
          font-size: 14px;
          outline: none;
        }
  
        .search-button {
          background: #f0f0ef;
          border: none;
          color: white;
          padding: 10px;
          margin-left: 10px;
          border-radius: 8px;
          cursor: pointer;
  
          &:hover {
            background: #CC7A33;
          }
        }
      }
  
      .export-button {
        background-color: #4077FF;
        color: white;
        border-radius: 8px;
        padding: 10px 20px;
  
        &:hover {
          background-color: #3066CC;
        }
      }
  
      .add-buttons {
        display: flex;
        gap: 10px;
  
        .add-button {
          background-color: #FF9A40;
          color: white;
          border-radius: 8px;
          padding: 10px 20px;
  
          &:hover {
            background-color: #CC7A33;
          }
        }
      }
    }
  
    .table-container {
      margin-top: 20px;
  
      .table-title {
        display: flex;
        justify-content: space-between;
        background-color: #f4f4f4;
        padding: 10px;
        border-radius: 8px;
        font-weight: bold;
      }
  
      .product-item {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #ddd;
  
        &.even-row {
          background-color: #f9f9f9;
        }
  
        &.odd-row {
          background-color: #fff;
        }
  
        .product-image {
          width: 100px;
          height:100px;
          object-fit: cover;
          border-radius: 8px;
        }
  
        .action-button {
          color: #4077FF;
  
          &:hover {
            color: #3066CC;
          }
        }
  
        .delete-button {
          color: red;
  
          &:hover {
            color: darkred;
          }
        }
      }
    }
  
    .pagination-container {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      .pagination-button {
        background-color: #FF9A40;
        color: white;
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 8px;
  
        &.active {
          background-color: #CC7A33;
        }
      }
    }
  }
  